<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Air Quality Checker</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    #result {
      margin-top: 20px;
    }
  </style>
</head>
<body>
    <h1>PM2.5懸浮微粒查詢網</h1>
    <div>
      <form action="/air">
        <label for="locationInput">請輸入你目前的位置</label>
        <input type="text" id="locationInput" name="nameis">
        <button> 送出 </button>
      </form>
    </div>
    <div id="result"></div>
</body>
</html>